@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1C1B21;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: white;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: white;
}

a {
  color: white;
}

p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.Song_Play > svg {
  fill: white;
  width: 25px;
  cursor: pointer;
}
.Song_Play .Play {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 25px;
}
.Song_Play .Pause {
  display: none;
  height: 20px;
}

.Song_setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
}
.Song_setting .Song_setting_Play {
  color: white;
  width: 25px;
  height: 25px;
}
.Song_setting::-moz-range-track {
  -moz-appearance: none;
  width: 877px;
  height: 2px;
  outline: none;
  margin: 0 40px;
  background: linear-gradient(to right, #7A66CC 0%, #7A66CC 0%, white 0%, white 100%);
}
.Song_setting .Song_setting_range {
  -webkit-appearance: none;
  cursor: pointer;
  width: 877px;
  height: 2px;
  outline: none;
  margin: 0 40px;
  background: -webkit-gradient(linear, left top, right top, from(#7A66CC), color-stop(0%, #7A66CC), color-stop(0%, white), to(white));
  background: linear-gradient(to right, #7A66CC 0%, #7A66CC 0%, white 0%, white 100%);
}
.Song_setting .Song_setting_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2px;
  height: 20px;
  background-color: #7A66CC;
  cursor: pointer;
}
.Song_setting .Song_setting_range::-moz-range-thumb {
  -moz-appearance: none;
  width: 2px;
  height: 20px;
  background-color: #7A66CC;
  cursor: pointer;
}
.Song_setting .Song_setting_time {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  outline: none;
}

header {
  position: relative;
  max-height: 900px;
  overflow: hidden;
}

.Header_Video > video {
  min-width: 100%;
}

.Header_Navigation_Burger {
  display: none;
}

.Header_main {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(rgba(255, 255, 255, 0.2), 90%, rgba(28, 27, 33, 0.8));
}
.Header_main .Header_top {
  width: 100%;
  position: fixed;
  z-index: 2;
}
.Header_main .Header_top .Header_sub_top {
  max-width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.Header_main .Header_top .Header_sub_top.Active {
  background-color: rgba(57, 50, 84, 0.7);
  border: 2px solid black;
  box-shadow: 0px 8px 10px #7A66CC;
  transition: 0.5s ease;
}
.Header_main .Header_top .Header_sub_top .Header_logo {
  margin-right: 65px;
}
.Header_main .Header_top .Header_sub_top .Header_Navigation {
  width: 635px;
}
.Header_main .Header_top .Header_sub_top .Header_Navigation > ul {
  display: flex;
  justify-content: space-between;
}
.Header_main .Header_top .Header_sub_top .Header_Navigation > ul > li {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}
.Header_main .Header_top .Header_sub_top .Header_Navigation > ul > li > a {
  padding: 10px;
}
.Header_main .Header_top .Header_sub_top .Header_Navigation > ul > li > a:hover {
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgba(122, 102, 204, 0.8);
  border: 2px solid black;
}
.Header_main .Header_middle {
  padding-top: 25%;
}
.Header_main .Header_middle .Header_middle_Song .Header_middle_Song_name {
  margin-top: 60px;
}
.Header_main .Header_middle .Header_middle_Song .Header_middle_Song_name > span {
  font-size: 100px;
  color: rgba(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  -webkit-text-stroke: 1px white;
}

@media (max-width: 1130px) {
  .Header_main .Header_middle {
    padding-top: 270px;
  }
}
@media (max-width: 979px) {
  .Header_Video > video {
    width: 100%;
  }

  .Header_main .Header_middle {
    padding-top: 18%;
  }
  .Header_main .Header_middle .Header_middle_Song .Header_middle_Song_name {
    margin-top: 30px;
  }
  .Header_main .Header_middle .Header_middle_Song .Header_middle_Song_name > span {
    font-size: 60px;
  }
}
@media (max-width: 710px) {
  .Header_Navigation {
    display: none !important;
  }

  .Header_Navigation_Burger {
    display: block;
    position: relative;
    margin-right: 30px;
  }
  .Header_Navigation_Burger > svg {
    fill: white;
    width: 26px;
    height: 20px;
    cursor: pointer;
  }

  .Header_Navigation_mob {
    display: none;
    position: absolute;
    right: -48px;
  }
  .Header_Navigation_mob.Active {
    display: block;
  }
  .Header_Navigation_mob > ul {
    margin-top: 34px;
    background-color: rgba(57, 50, 84, 0.7);
    border: 2px solid black;
    border-top: none;
    box-shadow: -8px 8px 10px #7A66CC;
    padding: 30px;
  }
  .Header_Navigation_mob > ul > li {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 30px;
  }
  .Header_Navigation_mob > ul > li:last-of-type {
    margin-bottom: 0;
  }
  .Header_Navigation_mob > ul > li > a {
    padding: 10px;
  }
  .Header_Navigation_mob > ul > li > a:hover {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(122, 102, 204, 0.8);
    border: 2px solid black;
  }
}
@media (max-width: 560px) {
  .Header_Navigation_mob > ul {
    margin-top: 29px;
  }

  .Header_main .Header_top .Header_sub_top .Header_logo > img {
    width: 180px;
  }
  .Header_main .Header_middle {
    padding-top: 20%;
  }
  .Header_main .Header_middle > h2 {
    font-size: 20px;
  }
  .Header_main .Header_middle .Header_middle_Song .Header_middle_Song_name {
    margin-top: 25px;
  }
  .Header_main .Header_middle .Header_middle_Song .Header_middle_Song_name > span {
    font-size: 30px;
  }
  .Header_main .Header_middle .Header_middle_Song .Song_setting {
    margin-top: 20px;
  }
  .Header_main .Header_middle .Header_middle_Song .Song_setting .Song_setting_range {
    margin: 0 15px;
  }
  .Header_main .Header_middle .Header_middle_Song .Song_setting .Song_setting_time {
    font-size: 14px;
  }
}
@media (max-width: 380px) {
  .Header_main .Header_middle .Header_middle_Song .Header_middle_Song_name {
    margin-top: 10px;
  }
  .Header_main .Header_middle .Header_middle_Song .Song_setting {
    margin-top: 10px;
  }
}
@media (max-height: 320px) {
  .Header_Navigation_mob > ul {
    padding: 20px 30px 20px 30px;
  }
  .Header_Navigation_mob > ul > li {
    margin-bottom: 20px;
  }
}
.news {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -60px;
  margin-bottom: 180px;
}
.news .news_item {
  display: flex;
  align-items: flex-end;
  background-repeat: no-repeat;
  width: 350px;
  min-height: 300px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 30px;
  overflow: hidden;
}
.news .news_item .news_item_text {
  padding: 19px;
  width: 100%;
  background: rgba(122, 102, 204, 0.7);
  border-top-left-radius: 20px;
}
.news .news_item .news_item_text > p {
  font-size: 16px;
  font-weight: 500;
}
.news .news_item:last-of-type {
  margin-right: 0;
}

@media (max-width: 1130px) {
  .news {
    justify-content: space-between;
  }
  .news .news_item {
    width: 280px;
    background-position: center;
  }
}
@media (max-width: 979px) {
  .news {
    justify-content: center;
  }
  .news .news_item {
    width: 350px;
    margin-bottom: 30px;
    margin-right: 20px;
  }
}
@media (max-width: 799px) {
  .news {
    top: 0;
    justify-content: center;
  }
  .news .news_item {
    width: 280px;
  }
  .news .news_item:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (max-width: 640px) {
  .news {
    flex-direction: column;
    align-items: center;
  }
  .news .news_item {
    max-width: 350px;
    width: 100%;
    margin-right: 0;
  }
}
.Author {
  margin-bottom: 150px;
}
.Author .Author_About {
  display: flex;
}
.Author .Author_About .Author_About_inf {
  margin-top: 60px;
  margin-right: 125px;
  max-width: 540px;
}
.Author .Author_About .Author_About_inf .Author_About_inf_text {
  margin-bottom: 60px;
}
.Author .Author_About .Author_About_inf .Author_About_inf_text > p {
  font-size: 16px;
  font-weight: 500;
  color: #BABABC;
}
.Author .Author_About .Author_About_inf .Author_About_inf_text > p:first-of-type {
  margin-bottom: 40px;
}
.Author .Author_About .Author_About_inf .Author_About_inf_summary {
  display: flex;
  flex-wrap: wrap;
}
.Author .Author_About .Author_About_inf .Author_About_inf_summary .Author_About_inf_summary_item {
  margin: 0 40px 30px 0;
  display: flex;
  width: 250px;
}
.Author .Author_About .Author_About_inf .Author_About_inf_summary .Author_About_inf_summary_item > p {
  font-weight: 600;
}
.Author .Author_About .Author_About_inf .Author_About_inf_summary .Author_About_inf_summary_item::before {
  content: "";
  width: 30px;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #7A66CC;
  margin-right: 20px;
}
.Author .Author_About .Author_About_inf .Author_About_inf_summary .Author_About_inf_summary_item:nth-of-type(even) {
  margin-right: 0;
}
.Author .Author_About .Author_About_img {
  position: relative;
  cursor: pointer;
}
.Author .Author_About .Author_About_img .Author_About_img_item {
  position: absolute;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 350px;
  height: 400px;
  overflow: hidden;
}
.Author .Author_About .Author_About_img .Author_About_img_item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.Author .Author_About .Author_About_img .Author_About_img_item.fist {
  animation: moveone 0.8s linear forwards;
}
.Author .Author_About .Author_About_img .Author_About_img_item.second {
  animation: movetwo 0.8s linear forwards;
}
.Author .Author_About .Author_About_img .Author_About_img_item > img {
  position: absolute;
  width: 350px;
  height: 400px;
}
.Author .Author_About .Author_About_img .Author_About_img_item > img.fist {
  animation: ZindeMax 0.8s linear forwards;
}
.Author .Author_About .Author_About_img .Author_About_img_item > img.second {
  animation: ZindeMin 0.8s linear forwards;
}

.Author_Name,
.Tracks_about_header {
  display: flex;
  align-items: flex-end;
}
.Author_Name > svg,
.Tracks_about_header > svg {
  width: 64px;
  height: 31px;
  margin-right: 30px;
}

@keyframes moveone {
  0% {
    z-index: 0;
    top: 0px;
    left: 0px;
  }
  50% {
    top: -200px;
    left: 30px;
  }
  90% {
    z-index: -1;
  }
  100% {
    top: 66px;
    left: 95px;
    z-index: -1;
  }
}
@keyframes movetwo {
  0% {
    z-index: -1;
    top: 66px;
    left: 95px;
  }
  50% {
    top: 200px;
    left: 50px;
  }
  90% {
    z-index: 0;
  }
  100% {
    top: 0px;
    left: 0px;
    z-index: 0;
  }
}
@keyframes ZindeMax {
  0% {
    z-index: -1;
  }
  90% {
    z-index: 0;
  }
  100% {
    z-index: 0;
  }
}
@keyframes ZindeMin {
  0% {
    z-index: 0;
  }
  90% {
    z-index: -1;
  }
  100% {
    z-index: -1;
  }
}
@media (max-width: 1130px) {
  .Author .Author_About .Author_About_inf {
    max-width: 420px;
    margin-right: 70px;
  }
  .Author .Author_About .Author_About_inf .Author_About_inf_summary .Author_About_inf_summary_item {
    margin-right: 0 !important;
  }
}
@media (max-width: 979px) {
  .Author .Author_Name {
    justify-content: center;
    margin-bottom: 60px;
  }
  .Author .Author_About {
    flex-direction: column-reverse;
    align-items: center;
  }
  .Author .Author_About .Author_About_inf {
    max-width: 705px;
    margin-right: 0;
  }
  .Author .Author_About .Author_About_inf .Author_About_inf_summary .Author_About_inf_summary_item {
    margin-right: 40px !important;
  }
  .Author .Author_About .Author_About_img {
    display: flex;
    justify-content: center;
    position: static;
    cursor: default;
  }
  .Author .Author_About .Author_About_img .Author_About_img_item {
    position: static;
    margin-right: 20px;
  }
  .Author .Author_About .Author_About_img .Author_About_img_item:last-of-type {
    margin-right: 0;
  }
  .Author .Author_About .Author_About_img .Author_About_img_item > img {
    position: static;
  }
  .Author .Author_About .Author_About_img .Author_About_img_item::before {
    content: "";
    display: none;
  }
}
@media (max-width: 750px) {
  .Author .Author_About .Author_About_img .Author_About_img_item {
    margin-right: 0px;
  }
  .Author .Author_About .Author_About_img .Author_About_img_item:last-of-type {
    display: none;
  }
}
@media (max-width: 378px) {
  .Author .Author_About .Author_About_img .Author_About_img_item {
    width: 100%;
    height: 100%;
  }
  .Author .Author_About .Author_About_img .Author_About_img_item > img {
    width: 100%;
    height: 100%;
  }
}
.quote {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid white;
  padding: 50px 80px;
  margin-bottom: 260px;
  display: flex;
}
.quote .quote_about {
  background-image: url(../media/img/quote.png);
  background-repeat: no-repeat;
  width: 520px;
  margin-right: 60px;
}
.quote .quote_about .quote_about_text {
  padding-bottom: 25px;
  border-bottom: 1px solid #BABABC;
  margin-bottom: 25px;
}
.quote .quote_about .quote_about_text > p {
  line-height: 27px;
}
.quote .quote_about .quote_about_PopLove > a {
  font-family: "Poppins", sans-serif;
  color: #7A66CC;
  font-size: 18px;
  font-weight: 700;
}
.quote .quote_img {
  position: relative;
}
.quote .quote_img > img {
  position: absolute;
  left: 0px;
  bottom: -144px;
  max-height: 483px;
}

@media (max-width: 1130px) {
  .quote {
    padding: 50px 45px;
  }
  .quote .quote_about {
    width: 440px;
    margin-right: 30px;
  }
  .quote .quote_img > img {
    bottom: -75px;
  }
}
@media (max-width: 979px) {
  .quote .quote_about {
    width: 275px;
  }
}
@media (max-width: 799px) {
  .quote {
    padding: 50px 45px;
    flex-direction: column-reverse;
    align-items: center;
  }
  .quote .quote_about {
    width: 100%;
    margin-right: 0px;
  }
  .quote .quote_img {
    margin-bottom: 40px;
  }
  .quote .quote_img > img {
    position: static;
    width: 100%;
  }
}
.Tracks {
  margin-bottom: 180px;
  display: flex;
}
.Tracks .Tracks_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  width: 510px;
  height: 510px;
  border-radius: 100%;
  background-color: #393254;
}
.Tracks .Tracks_img .Tracks_img_circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 472px;
  height: 472px;
  border-radius: 100%;
  background-color: #7A66CC;
}
.Tracks .Tracks_about .Song_setting {
  margin-bottom: 50px;
  width: 550px;
}
.Tracks .Tracks_about .Song_setting .Song_setting_range {
  width: 317px;
}
.Tracks .Tracks_about .Tracks_about_list {
  margin-bottom: 53px;
}
.Tracks .Tracks_about .Tracks_about_list > li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.Tracks .Tracks_about .Tracks_about_list > li:last-of-type {
  margin-bottom: 0;
}
.Tracks .Tracks_about .Tracks_about_list > li > span {
  font-weight: 700;
  color: #BABABC;
  margin-right: 17px;
}
.Tracks .Tracks_about .Tracks_about_list > li > p:hover {
  color: #7A66CC;
}
.Tracks .Tracks_about .Tracks_about_list > li > p.Active {
  color: #7A66CC;
}
.Tracks .Tracks_about .Tracks_about_social {
  display: flex;
}
.Tracks .Tracks_about .Tracks_about_social > h3 {
  margin-right: 40px;
  min-width: 130px;
}
.Tracks .Tracks_about .Tracks_about_social .Tracks_about_social_items {
  display: flex;
  flex-wrap: wrap;
}
.Tracks .Tracks_about .Tracks_about_social .Tracks_about_social_items > a {
  margin-right: 30px;
}
.Tracks .Tracks_about .Tracks_about_social .Tracks_about_social_items .Tracks_about_social_item {
  display: flex;
  align-items: center;
}
.Tracks .Tracks_about .Tracks_about_social .Tracks_about_social_items .Tracks_about_social_item .Tracks_about_social_item_svg {
  margin-right: 10px;
  fill: white;
}
.Tracks .Tracks_about .Tracks_about_social .Tracks_about_social_items .Tracks_about_social_item .Tracks_about_social_item_svg > svg {
  width: 30px;
  height: 30px;
}
.Tracks span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

@media (max-width: 1130px) {
  .Tracks {
    align-items: center;
  }
  .Tracks .Tracks_img {
    width: 440px;
    height: 440px;
  }
  .Tracks .Tracks_img .Tracks_img_circle {
    width: 410px;
    height: 410px;
  }
  .Tracks .Tracks_img .Tracks_img_circle > img {
    width: 380px;
    height: 380px;
  }
  .Tracks .Tracks_about {
    max-width: 435px;
    width: 100%;
  }
  .Tracks .Tracks_about .Song_setting {
    max-width: 550px;
    width: 100%;
  }
  .Tracks .Tracks_about .Song_setting .Song_setting_range {
    max-width: 270px;
    width: 100%;
  }
}
@media (max-width: 979px) {
  .Tracks {
    flex-direction: column;
  }
  .Tracks .Tracks_img {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .Tracks .Tracks_about .Song_setting .Song_setting_range {
    margin: 0 20px;
  }
}
@media (max-width: 480px) {
  .Tracks .Tracks_img {
    width: 320px;
    height: 320px;
  }
  .Tracks .Tracks_img .Tracks_img_circle {
    width: 300px;
    height: 300px;
  }
  .Tracks .Tracks_img .Tracks_img_circle > img {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 380px) {
  .Tracks .Tracks_about .Tracks_about_social {
    display: flex;
  }
  .Tracks .Tracks_about .Tracks_about_social > h3 {
    margin-right: 20px;
  }
  .Tracks .Tracks_about .Tracks_about_social .Tracks_about_social_items {
    display: flex;
    flex-wrap: wrap;
  }
  .Tracks .Tracks_about .Tracks_about_social .Tracks_about_social_items > a {
    margin-right: 0px;
  }
  .Tracks h2 {
    font-size: 30px;
  }
}
@media (max-width: 340px) {
  .Tracks {
    align-items: center;
  }
  .Tracks .Tracks_img {
    width: 280px;
    height: 280px;
  }
  .Tracks .Tracks_img .Tracks_img_circle {
    width: 260px;
    height: 260px;
  }
  .Tracks .Tracks_img .Tracks_img_circle > img {
    width: 240px;
    height: 240px;
  }
}
.Gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 30px;
}
.Gallery .grid_item {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.Gallery .grid_item > img {
  cursor: pointer;
}
.Gallery .grid_item > .Gallery_PopUp {
  display: none;
  position: fixed;
  overflow: scroll;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  background: rgba(57, 50, 84, 0.85);
}
.Gallery .grid_item > .Gallery_PopUp.Active {
  display: block;
  animation: openIMG 0.5s ease forwards;
}
.Gallery .grid_item > .Gallery_PopUp.close {
  animation: closeIMG 0.5s ease forwards;
}
@keyframes openIMG {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes closeIMG {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.Gallery .grid_item > .Gallery_PopUp .Gallery_PopUp_close .PopUp_close {
  width: 50px;
  height: 50px;
  margin-top: 30px;
  margin-left: 50px;
  cursor: pointer;
}
.Gallery .grid_item > .Gallery_PopUp .Gallery_PopUp_close .PopUp_close::before {
  content: "";
  display: block;
  position: relative;
  top: 20px;
  width: 30px;
  height: 5px;
  background-color: white;
  transform: rotate(-45deg);
}
.Gallery .grid_item > .Gallery_PopUp .Gallery_PopUp_close .PopUp_close::after {
  content: "";
  display: block;
  position: relative;
  top: 15px;
  width: 30px;
  height: 5px;
  background-color: white;
  transform: rotate(45deg);
}
.Gallery .grid_item > .Gallery_PopUp .Gallery_PopUp_img {
  text-align: center;
}
.Gallery .grid_item > .Gallery_PopUp .Gallery_PopUp_img > img {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 3px solid black;
  box-shadow: 0px 5px 5px black;
  margin: 10px;
}
.Gallery .grid_item.item_1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.Gallery .grid_item.item_2 {
  grid-column-start: 2;
  grid-column-end: 3;
}
.Gallery .grid_item.item_3 {
  grid-column-start: 3;
  grid-column-end: 4;
}
.Gallery .grid_item.item_4 {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
}
.Gallery .grid_item.item_5 {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
}
.Gallery .grid_item.item_5::before {
  content: "EDC Las Vegas Mainstage";
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7A66CC;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 27, 33, 0.8);
  cursor: pointer;
}

@media (max-width: 1130px) {
  .Gallery .grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 979px) {
  .Gallery {
    grid-template-columns: repeat(2, minmax(auto, 255px));
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
  }
  .Gallery .grid_item.item_1 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .Gallery .grid_item.item_2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .Gallery .grid_item.item_3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  .Gallery .grid_item.item_4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .Gallery .grid_item.item_5 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
@media (max-width: 500px) {
  .Gallery {
    display: flex;
    flex-direction: column;
  }
  .Gallery .grid_item.item_5::before {
    content: "EDC Las Vegas Mainstage";
    font-size: 18px;
  }
}
.Tickets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}
.Tickets .Tickets_button {
  border: 1px solid #BABABC;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 40px;
  height: 60px;
  padding: 18px 10px;
  font-size: 20px;
  cursor: pointer;
}
.Tickets .Tickets_button:first-of-type {
  margin-right: 40px;
}
.Tickets .Tickets_button:first-of-type::before {
  content: "←";
  color: #BABABC;
}
.Tickets .Tickets_button:last-of-type {
  margin-left: 40px;
}
.Tickets .Tickets_button:last-of-type::before {
  content: "→";
  color: #BABABC;
}
.Tickets .Tickets_slide {
  position: relative;
  width: 1110px;
  height: 473px;
  overflow: hidden;
}
.Tickets .Tickets_slide .Tickets_slide_train {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.8s ease;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item {
  min-width: 350px;
  height: 473px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
  background-color: #2F2B2B;
  margin-right: 30px;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about {
  margin-top: 30px;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_text {
  margin: 32px 35px;
  font-weight: 500;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_text > p {
  margin-bottom: 20px;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_text > p:first-of-type {
  color: #636060;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_text > p:last-of-type {
  margin-bottom: 0;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_bottom {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_bottom p {
  font-weight: 700;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_bottom .Tickets_slide_item_about_bottom_data {
  padding-left: 40px;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_bottom .Tickets_slide_item_about_bottom_data > p {
  color: #979595;
}
.Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_bottom .Tickets_slide_item_about_bottom_button {
  background-color: #7A66CC;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 18px 55px;
}

@media (max-width: 1280px) {
  .Tickets .Tickets_slide {
    width: 735px;
  }
}
@media (max-width: 912px) {
  .Tickets .Tickets_slide {
    width: 355px;
  }
}
@media (max-width: 530px) {
  .Tickets .Tickets_button {
    display: none;
  }
  .Tickets .Tickets_slide {
    position: static;
    max-width: 1110px;
    height: 100%;
  }
  .Tickets .Tickets_slide .Tickets_slide_train {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: static;
    transition: none;
    padding: 0 10px;
  }
  .Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item {
    min-width: auto;
    max-width: 350px;
    width: 100%;
    height: 100%;
    margin: 0 0px 30px 0px;
  }
  .Tickets .Tickets_slide .Tickets_slide_train .Tickets_slide_item .Tickets_slide_item_about .Tickets_slide_item_about_bottom .Tickets_slide_item_about_bottom_data {
    padding: 0 10px;
  }
}
.Footer {
  max-width: 533px;
  margin: 0 auto;
  text-align: center;
  margin-top: 180px;
}
.Footer .Footer_text {
  margin: 60px 0;
}
.Footer .Footer_text_item {
  display: flex;
  text-transform: uppercase;
}
.Footer .Footer_text_item .Footer_text_item_header {
  text-align: end;
  width: 200px;
  margin-right: 30px;
}
.Footer .Footer_text_item .Footer_text_item_header > p {
  font-weight: 600;
}
.Footer .Footer_social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.Footer .Footer_social .Footer_social_item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #2C2C2C;
}
.Footer .Footer_social .Footer_social_item > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background-color: #7A66CC;
}
.Footer .Footer_social .Footer_social_item > div.insta {
  padding-top: 6px;
}
.Footer .Footer_social .Footer_social_item > div > svg {
  fill: white;
  width: 24px;
  height: 24px;
}
.Footer .Footer_social .Footer_social_item > div > svg.insta {
  width: 32px;
  height: 32px;
}
.Footer .Footer_copy > p {
  font-size: 13px;
  color: #8D8D90;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .Footer .Footer_text_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  .Footer .Footer_text_item .Footer_text_item_header {
    text-align: center;
    width: 200px;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .Footer .Footer_social {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 315px;
    margin: 0 auto 100px auto;
  }
  .Footer .Footer_social > a {
    margin: 0 20px 20px 0;
  }
}
@media (max-width: 1130px) {
  .container {
    max-width: 980px;
    padding: 0 20px;
  }

  .Song_setting .Song_setting_range {
    width: 698px;
  }
}
@media (max-width: 979px) {
  h1, h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
  }

  .container {
    max-width: 820px;
  }

  .Song_setting {
    margin-top: 30px;
  }
  .Song_setting .Song_setting_range {
    max-width: 500px;
    width: 100%;
  }
}